import asyncio
import string
import random
import time
from pyrogram import Client, filters, idle
from pyrogram.types import InlineKeyboardMarkup, InlineKeyboardButton
pip install pyrogram tgcrypto
pyrogram
tgcrypto
Motor